/* Стилизация кнопки */
.button{
    display: inline-block;
    padding: 16px 14px;
    border: none;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}
.button_primary{
    background-color: var(--blue);
    color: var(--white);
    
}
.button_primary:hover{
    background-color: var(--dark-blue);
    cursor: pointer;
}
.button_primary:disabled{
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none
}
.button_secondary{
    background-color: var(--purple);
    color: var(--white);
}
.button_secondary:hover{
    background-color: var(--dark-pupple);
    color: var(--white);
    cursor: pointer;
}
.button_secondary:disabled{
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none
}
.button_alternate{
    border:1px solid var(--grey-3);
    background-color:var(--white);
}
.button_alternate:hover{
    border:1px solid var(--black);
    background-color:var(--white);
    cursor: pointer;   
}
.button_alternate:disabled{
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none
}