/* Стилизация аккордеона */
  
.accordion  * {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.accordion__item{
    margin-bottom: 8px;
}
.accordion__item:last-child{
    margin-bottom: 0px;
}
.accordion__details{  
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    padding:24px 32px; 
}
.accordion__details[open] .accordion__narow{
    transform: rotate(180deg)translate(0, +10%);
}
.accordion__summary{  
    display:block;
    outline: none;
}
.accordion__summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}
.acordion__summary_flex{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
